body,
html {
  min-height: 350px;
}
body {
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: auto;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[aria-invalid="true"] {
  background-color: #fae3e0 !important;
}